{% extends 'newsletter/email_base.html' %}
{% block content %}
    <p>{{ message }}</p>
    <p>
        This email was sent to <a href="mailto:{{ user.email }}">{{ user.email }}</a>. 
        You've received this email because you are subscribed to our newsletter.<br>
        If you'd rather not receive this kind of email, you can <a href="{{ site_url }}/accounts/profile">login to your profile</a> and find the button to unsubscribe from our newsletter.<br>
        Visit site: <a href="{{ site_url }}">{{ site_name }}</a>
    </p>
{% endblock %}
