<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{{ site_name }}</title>
    </head>
    <body>
        <section class="max-w-2xl px-6 py-8 mx-auto bg-white dark:bg-gray-900 mt-20">
            <header>
                <div class="flex-col space-y-3">
                    <img class="w-auto mx-auto h-7 sm:h-8 rounded-full" src="https://cn.coursearena.com.ng/static/assets/imgs/CoderNova.jpeg" alt="{{ site_name }} Logo">
                    <h1 class="text-3xl font-bold mb-6 text-center">{{ site_name }}</h1>
                </div>
            </header>
            <main class="mt-8">
                {% block content %}
                    <!-- Email content -->
                {% endblock %}
            </main>
            <footer class="mt-8 text-center">
                <p class="mt-3 text-gray-500 dark:text-gray-400"> © {{ current_year }} {{ site_name }}. All rights reserved.</p>
            </footer>
        </section>

        <!-- Tailwind JS -->
        <script src="{% static 'assets/js/tailwind.js' %}"></script>
    </body>
</html>