{% extends 'newsletter/email_base.html' %}
{% block content %}
    <h2>Great news! A new article has been posted.</h2>
    <p>
        Title: {{ article.title }}<br>
        Summary: {{ article.excerpt }}<br>
        Read the full post here: <a href="{{ post_url }}">{{ article.title }}</a><br>
        Thank you for being a part of our community!
        If you have any questions, <a href="mailto:{{ contact_email }}">please get in touch</a>.
    </p>
    <p>
        Best regards, <br>
        The {{ site_name }} team.
    </p>
    <p>
        This email was sent to <a href="mailto:{{ user.email }}">{{ user.email }}</a>.
        If you'd rather not receive this kind of email, you can <a href="{{ site_url }}/accounts/profile">login to your profile</a> and find the button to unsubscribe from our newsletter.<br>
        Visit site: <a href="{{ site_url }}">{{ site_name }}</a>
    </p>
{% endblock %}
