{% extends 'newsletter/email_base.html' %}
{% block content %}
    <h2>Hi {{ user.first_name }},</h2>
    <p>
        Welcome to {{ site_name }}! It's great to have you with us.<br> 
        We post tons of coding content, DIY projects and informative articles. Visit our website and get yourself started as soon as possible.<br> 
        If you have any questions, <a href="mailto:{{ contact_email }}">please get in touch</a>.
    </p>
    <p>
        Subscribe to our newsletter to get notified when we post new content. Type in your email address in the subsription form at the footer of any page in our website. <br>
        Visit site: <a href="{{ site_url }}">{{ site_name }}</a>
    </p>
    <p>
        Thanks, <br>
        {{ site_name }} team.
    </p>
{% endblock %}
